body {
    margin: 0;
    font-family: "Segoe UI", Arial;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #667eea, #764ba2);
}

.app {
    background: white;
    width: 380px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

h1 {
    margin: 0;
    text-align: center;
}

.subtitle {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
}

.input-box {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

button {
    border: none;
    border-radius: 8px;
    padding: 0 15px;
    font-size: 16px;
    cursor: pointer;
    background: #667eea;
    color: white;
}

button:hover {
    opacity: 0.9;
}

li {
    list-style: none;
    background: #f4f6ff;
    margin-top: 10px;
    padding: 12px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li span {
    max-width: 200px;
    overflow-wrap: break-word;
}

.done span {
    text-decoration: line-through;
    color: gray;
}

li button {
    background: #ff7675;
    margin-left: 5px;
}

li button:first-child {
    background: #00b894;
}
