body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 30px;
}

h2 {
    color: #333;
}

input {
    padding: 8px;
}

button {
    padding: 8px;
    cursor: pointer;
}

li {
    background: white;
    margin: 5px;
    padding: 8px;
    list-style: none;
}
